@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
*{
    font-family: 'Fauna One', serif;
}
h1{
    font-family: 'Cinzel', serif;
    background-color: rgba(255, 255, 255, 0.027);
    color: white;
    max-width: fit-content;
    padding: 5px;
    margin: 40px;
    font-size: 50px;

}
html { 
    background: url(bg.svg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}
.headbuttons button{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.027);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    margin-left: 0;
    outline: none;
    border: none;
    
}
.headbuttons button:hover{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.253);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 10px;
    outline: none;
    border: none;
    transition: 0.5s;
}
.headbuttons button:focus{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.253);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 10px;
    outline: none;
    border: none;
    transition: 0.5s;
}
.all-blogs, .popular-blogs, .latest-blogs{
    display: flex;
    flex-direction: row;
    margin:50px;

}
.blog h3{
    font-family: 'Cinzel', serif;
    background-color: rgba(255, 255, 255, 0.027);
    max-width: fit-content;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    color: white;
}
.blog p{
    background-color: rgba(255, 255, 255, 0.027);
    max-width: fit-content;
    font-size: 20px;
    color: white;
}



